/*
Color Hexcodes:
#385a7c (navy)
#f97171 (dark coral)
#f99192 (light coral)
#8ad6cc (dark teal)
#b2eee6 (light teal)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(../images/body-background.jpg);
    background-size: cover;
}
/*header styles start*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../images/hero-blur.jpg);
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 15px;
}
header h1{
    font-style: bold;
    background-color: rgba(249, 145, 146, 0.75);
    border: 2px solid #f97171;
    padding: 10px;
    border-radius: 15px;
}
header a {
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 10px;
    padding: 10px;
    background-color: rgba(249, 145, 146, 0.75);
    border: 2px solid #f97171;
    border-radius: 10px;
}
header nav ul li a:hover {
    background-color: rgba(178,238, 230, 0.75);
    border: 2px solid #8ad6cc;
    color: #385a7c;
}
/*footer styles start*/
footer {
    background-color: #b2eee6;
    text-align: center;
}
footer p{
    color: #385a7c;
    font-size: 20px;
}
/* hero styles start*/
.hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: 70%;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero p{
    background-color: rgba(178,238, 230, 0.8);
    font-size: 40px;
    width: 50%;
    text-align: center;
    color: #385a7c;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #8ad6cc;
}
/*whole page reused styles*/
section{
    padding: 60px;
}

.primary-title {
    font-size: 35px;
    background-color: rgba(178,238, 230, 0.8);
    border: 4px solid #8ad6cc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #385a7c;
    margin: 10px;
    flex: 100%;
}
/*bio styles start*/
.bio{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
.bio img {
    width: 30%;
    flex: 1;
    padding: 25px;
    background-color: rgba(178,238, 230, 0.8);
    border: 3px solid #8ad6cc;
    border-radius: 10px;
    margin: 20px;
}
.bio-text {
    background-color: rgba(178,238, 230, 0.8);
    border: 3px solid #8ad6cc;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    width: 50%;
    flex:2;
}
.bio-text p {
    color: #385a7c;
    font-size: 30px;
}
/*work examples styles start*/
.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.best-work {
    background-color: rgba(178,238, 230, 0.8);
    border: 2px solid #8ad6cc;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 80%;
}
.best-work h3 {
    color: #385a7c;
}
.best-work p a{
    background-color: #f99192;
    padding: 5px;
    border: 2px solid #f97171;
    border-radius: 7px;
    line-height: 2.5;
    text-decoration: none;
}
.best-work img{
    width: 100%;
}
.other-projects {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;

}
.project {
    flex: 1;
    width: 50%;
    background-color: rgba(178,238, 230, 0.8);
    border: 2px solid #8ad6cc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.project p a {
    background-color: #f99192;
    padding: 5px;
    border: 2px solid #f97171;
    border-radius: 7px;
    line-height: 2.5;
    text-decoration: none;
}
.project h3 {
    color: #385a7c;
}
.project img {
    width: 100%;
}
/*contact info styles start*/
.contact-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-info p {
    background-color:  rgba(249, 145, 146, 0.75);
    margin: 25px;
    padding: 10px;
    border: 2px solid #f97171;
    border-radius: 10px;
}
.contact-info p a{
    text-decoration: none;
}
.contact-info p:hover {
    background-color: rgba(178,238, 230, 0.8);
    border-color: #8ad6cc;
    color: #385a7c;
}
/*media queries*/
@media screen and (max-width: 980px) {
   header{
       position: relative;
       justify-content: center;
       padding: 5px;
   }
   header h1{
       width: 60%;
       text-align: center;
   }
   header nav ul {
       width: 100%;
       margin: 25px;
       justify-content: center;
   }
   header nav ul li {
       font-size: 25px;
   }
   .bio img {
       width: 100%;
   }
   .bio-text p {
       width: 100%;
       font-size: 30px;
   }
   .project {
       flex: 0 80%;
   }
   .other-projects {
       justify-content: center;
   }
   .contact-info p a {
       font-size: 20px;
   }

}
@media screen and (max-width: 768px) {
    header nav ul li {
        font-size: 20px;
    }
    section {
        padding: 0 20px 20px 20px;
    }
    .hero p {
        font-size: 30px;
    }
    .bio {
        padding-top: 20px;
    }
    .bio img {
        width: 75%;
    }
    .bio-text p {
        font-size: 25px;
    }
    .contact-info p a {
        font-size: 15px ;
    }
}
@media screen and (max-width: 575px) {
    header ul li {
        font-size: 10px;
    }
    .hero p {
        font-size: 25px;
        font-weight: 300;
    }
    .bio-text p{
        font-size: 20px;
    }
}